

<div class="content" style="padding-top: 2rem;">

<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h2 class="card-header">Add a new track</h2>
          <div class="card-body">
            <form class="form-horizontal" method="post" action="#">
              <div class="form-group">
                <div class="form-group">
                  <div class="form-group">
                    <%= form.label :title %><br />
                    <%= form.text_field :title, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= form.label :user_id %>
                    <p>Select which artist this track belongs to</p>
                      <div class="controls">
                        <%= collection_select( :track, :user_id, User.all, :id, :name, {}, { :multiple => false}) %>
                    </div>
                    <br />
                    <div class="form-group">
                      <%= form.label "Upload the track" %><br />
                      <%= form.file_field :track_file %>
                    </div>

                  </div>
                  <!-- <br />
                  <div class="span8 progress progress-striped active"><div id="bar" class="bar" style="width: 100%;"></div></div>
                  <br /> -->
                  <div class="actions">
                    <%= form.submit "Save", class: "btn btn-primary" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
