<div id="sidebar">
  <div class="container" style="text-align: center">
    <a class="navbar-brand" href="#">
      <img src="assets/magpielogo.png"  class="logo" style="display:inline-block">
    </a>
  </div>
  <ul>
      <li><a href="/" class="nav-link">Home</a></li>
      <li><button><a href="/users/sign_in">Login</a></button></li>
      <li><button><a href="/users/sign_up">Sign up</a></button></li>
      <li><button><a href="/users/sign_out">Log out</a></button></li>

  </ul>
  <div class="container">
    <div class="footer">
        <a href="https://www.facebook.com/MagpieStudiosKent/" target="_blank" style="padding: 0 0.5rem 0 0.5rem"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90485534fd98_social-03-white.svg" width="25" height="25" alt="" /></a>
        <a href="https://www.instagram.com/magpiestudioskent/" target="_blank" style="padding: 0 0.5rem 0 0.5rem"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc904ae834fd8b_social-08-white.svg" width="25" height="25" alt="" /></a>
        <a href="mailto:info@magpiestudioskent.com?subject=Contact%20from%20website" style="padding: 0 0.5rem 0 0.5rem"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90381b34fd94_social-30-white.svg" width="25" height="25" alt="" /></a>
    </div>
  </div>
  </div>

  <div class="content" style="padding-top: 2rem">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <h2 class="card-header">Create your Magpie Studios account</h2>
            <div class="card-body">
              <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                  <div class="form-group">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "form-control"  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :band_name %><br />
                    <%= f.text_field :band_name, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :phone_number %><br />
                    <%= f.text_field :phone_number, autofocus: true, autocomplete: "email", class: "form-control"  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Sign up", class: "btn btn-primary" %>
                  </div>
                  <% end %>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>

<%= render "devise/shared/links" %>
