<nav class="navbar navbar-expand-sm" style="background-color: #000;">
  <a class="navbar-brand" href="/">
    <img src="/assets/magpielogo.png" class="logo" style="width:80px; vertical-align: middle; ">
  </a>
  </nav>

<%= render "layouts/persistenttopnav" %>
<%= render "layouts/mobilenav" %>

<%= render 'form', track: @track %>

<%= link_to 'Show', @track %> |
<%= link_to 'Back', tracks_path %>
