<%= render "layouts/usertopnav" %>

<p id="notice"><%= notice %></p>




<table style="width:80%;">
  <thead>
    <tr>
      <th>Track name</th>
      <th>Uploaded at</th>
      <th></th>
      <th colspan="2"></th>
      <th><div style= "btn btn-primary"><%= link_to 'Add new track +', new_track_path %></div> </th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.created_at  %></td>
        <td><audio src= "<%= rails_blob_path(track.track_file) %> " controls='controls'></audio></td>
        <td><%= link_to 'Edit details', edit_admin_track_path(track) %></td>
        <td><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Download', rails_blob_path(track.track_file) %> </td>
      </tr>
    <% end %>
  </tbody>

this is some text below the table
<div>
<%= link_to 'Add new track +', new_track_path, class: "btn btn-warning btn-lg" %>
</div>
