<div class="fixed-top" style="background-color: #000;">
  <a href="/">
    <img src="/assets/magpielogo.png" class="logo" style="width:80px; ">
  </a>
</div>

  <div style="padding-top: 10%;">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h2 class="card-header">Login to your Magpie Studios account</h2>
          <div class="card-body">
            <form class="form-horizontal" method="post" action="#">
              <div class="form-group">
                <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>

                <div class="actions">
                  <%= f.submit "Log in",class: "btn btn-primary" %>
                </div>
              <% end %>



<%= render "devise/shared/links" %>

</div>
