<!-- Desktop menu -->
<nav class="navbar fixed-top navbar-expand-sm persistent-nav" style="position: absolute; position: absolute; width: 80%; margin-left:20%; background-color: #000; height: 3rem;">

  <ul class="navbar-nav ml-auto">
  <% if @logged_out %>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Sign up", "#{new_user_registration_path}" %></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Login", "#{user_session_path}" %></a></li>
  <% end %>


  <% if @artist %>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to 'My tracks', tracks_path %></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Edit my Profile", "#{edit_user_registration_path}"%></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Back to main site", root_path %></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a></li>


     <% end %>

  <% if @admin %>
  <li style="padding: 0 1rem 0 1rem">  <a><%= link_to "View all tracks", "#{admin_tracks_path}"  %></a></li>
    <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Edit my Profile", "#{edit_user_registration_path}" %></a></li>
    <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Back to main site", root_path %></a></li>
    <li style="padding: 0 1rem 0 1rem"><a><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a></li>

  <% end %>
  </ul>
     </nav>
