<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark" style="position: absolute; position: absolute; width: 80%; margin-left:20%;">
  <a class="navbar-brand" href="#">
    <img src="https://www.rspb.org.uk/globalassets/images/wildlife/birds/magpie/magpie-perched-in-hedgerow-titchwell-norfolk_by-ernie-janes_2078921-letterbox-crop.jpg" alt="Logo" style="width:40px;">
  </a>
  <ul class="navbar-nav ml-auto">
  <% if @logged_out %>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Sign up", "#{new_user_registration_path}" %></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Login", "#{user_session_path}" %></a></li>
  <% end %>


  <% if @artist %>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to 'My tracks', tracks_path %></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Edit my Profile", "#{edit_user_registration_path}"%></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Back to main site", root_path %></a></li>
  <li style="padding: 0 1rem 0 1rem"><a><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a></li>


     <% end %>

  <% if @admin %>
  <li style="padding: 0 1rem 0 1rem">  <a><%= link_to "View all tracks", "#{admin_tracks_path}"  %></a></li>
    <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Edit my Profile", "#{edit_user_registration_path}" %></a></li>
    <li style="padding: 0 1rem 0 1rem"><a><%= link_to "Back to main site", root_path %></a></li>
    <li style="padding: 0 1rem 0 1rem"><a><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a></li>

  <% end %>
  </ul>
     </nav>
