
<div class>
  <div class="tracks-table">
    <div class="row align-items-center">
      <div class="col-sm"><strong>Track name</strong></div>
      <div class="col-sm"><strong>Band name</strong></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
    <hr />
  <% @tracks.each do |track| %>
       <div class="row align-items-center">
       <div class="col-sm"><%=  track.title %></div>
       <div class="col-sm"><%=  track.user.band_name %></div>
        <div class="col-sm">Uploaded on <%= track.created_at.strftime("%Y-%m-%d") %></div>
        <div class="col-sm"><audio src= "<%= rails_blob_path(track.track_file) %> " controls='controls' class="audio"></audio></div>
        <div class="btn-group2">
          <div class="button2" style="border-radius: 10px 0px 0px 10px;"><%= link_to 'Edit', edit_admin_track_path(track) %></div>
          <div class="button2"><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div class="button2" style="border-radius: 0px 10px 10px 0px;"><%= link_to 'Download', rails_blob_path(track.track_file) %></div>
        </div>
        </div>

        <hr />
        <% end %>
  </div>

</div>
