
<table style="width:80%;">
  <thead>
    <tr>
      <th>Track name</th>
      <th>Band name</th>
      <th>Uploaded at</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.user.band_name %></td>
        <td><%= track.created_at  %></td>
        <td><audio src= "<%= rails_blob_path(track.track_file) %> " controls='controls'></audio></td>
        <td><%= link_to 'Download', rails_blob_path(track.track_file) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
